@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Festive&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #a1b8ce;
  background-image: url("assets/bg1.jpeg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contentBox {
  width: 75%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.contents {
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  background: #fff;
}
.contents h2 {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Festive", Sans-Serif;
}
.greetings{
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%,-50%);
  font-family: 'Montserrat', Sans-Serif;
  font-weight: 400;
  background: #fff;
}
.greetings img{
  width: 40%;
}
.greetings p:nth-child(2){
  text-align: center;
}
.greetings button{
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  background: lightgreen;
  box-shadow: 0 0 1px rgba(0,0,0,1);
  font-family: 'Montserrat', Sans-Serif;
  transition: 0.4s;
}
.greetings button:hover{
  color: #fff;
  background: green;
}
.qrcode {
  text-align: center;
}
.qrcode img {
  width: 90%;
}
.qrcode img:nth-child(2) {
  width: 50%;
}
.text1 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-70%);
  font-family: 'Bangers', Sans-Serif;
}
.text2{
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-70%);
  font-family: 'Bangers', Sans-Serif;
}
.text3{
  width: max-content;
  font-size: 1.25rem;
  display: flex;
  gap: 5px;
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-55%);
  font-family: 'Great Vibes', Sans-Serif;
}
.deco1 {
  width: 55%;
  position: absolute;
  top: -14%;
  left: -12%;
}
.deco2 {
  width: 40%;
  position: absolute;
  left: -3%;
  bottom: 4%;
}
.deco3 {
  width: 36%;
  position: absolute;
  right: 2%;
  bottom: 4%;
}
.deco4 {
  width: 25%;
  position: absolute;
  top: -8%;
  right: -10%;
  transform: rotate(-10deg);
}
.deco5 {
  width: 15%;
  max-width: 70px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.deco6 {
  width: 15%;
  max-width: 70px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.views {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  font-family: 'Bangers';
}

@keyframes up {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes across {
  from {
    right: 0%;
  }

  to {
    right: 100%;
  }
}

.fa-snowflake {
  color: #ecf2f8;
}

.snow {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.snowflake0 {
  animation-name: fall, shake;
  animation-duration: 10s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 200px;
  z-index: 7;
  filter: blur(0.5px);
}

.snowflake1 {
  animation-name: fall, shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 500px;
  top: -100px;
  animation-delay: 1s, 1s;
  z-index: 7;
  filter: blur(0.5px);
}

.snowflake2 {
  animation-name: fall, shake;
  animation-duration: 8s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 20px;
  top: -100px;
  animation-delay: 2s, 2s;
  z-index: 7;
  filter: blur(0.5px);
}

.snowflake3 {
  animation-name: fall, shake;
  animation-duration: 9s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 170px;
  top: -100px;
  animation-delay: 3s, 5s;
  z-index: 5;
  filter: blur(0.7px);
}

.snowflake4 {
  animation-name: fall, shake;
  animation-duration: 15s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 430px;
  top: -100px;
  animation-delay: 4s, 4s;
  z-index: 5;
}

.snowflake5 {
  animation-name: fall, shake;
  animation-duration: 15s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 500px;
  top: -100px;
  animation-delay: 6s, 2s;
  font-size: 2rem;
  z-index: 6;
  filter: blur(0.5px);
}

.snowflake6 {
  animation-name: fall, shake;
  animation-duration: 12s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 75px;
  top: -100px;
  animation-delay: 3.2s, 2s;
  font-size: 2rem;
  z-index: 6;
}

.snowflake7 {
  animation-name: fall, shake;
  animation-duration: 11s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 650px;
  top: -100px;
  animation-delay: 7.2s, 1s;
  z-index: 7;
}

.snowflake8 {
  animation-name: fall, shake;
  animation-duration: 12s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 820px;
  top: -100px;
  animation-delay: 4s, 2s;
  font-size: 2rem;
  z-index: 5;
  filter: blur(0.5px);
}

.snowflake9 {
  animation-name: fall, shake;
  animation-duration: 12s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 170px;
  top: -100px;
  animation-delay: 5s, 2s;
  font-size: 2rem;
  z-index: 5;
  filter: blur(0.3px);
}

.snowflake10 {
  animation-name: fall, shake;
  animation-duration: 15s, 9s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 350px;
  top: -100px;
  animation-delay: 2.7s, 2s;
  font-size: 3rem;
  z-index: 7;
}

.snowflake11 {
  animation-name: fall, shake;
  animation-duration: 12s, 7s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 400px;
  top: -100px;
  animation-delay: 0.5s, 2s;
  font-size: 3rem;
  z-index: 7;
}

.snowflake12 {
  /*small*/
  animation-name: fall, shake;
  animation-duration: 12s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  left: 470px;
  top: -100px;
  animation-delay: 5s, 2s;
  z-index: 7;
  filter: blur(0.9px);
}

.snowflake13 {
  /*small*/
  animation-name: fall, shake;
  animation-duration: 10s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 220px;
  top: -100px;
  animation-delay: 1s, 2s;
  z-index: 7;
  filter: blur(0.6px);
}

.snowflake14 {
  /*small*/
  animation-name: fall, shake;
  animation-duration: 9s, 4s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  position: absolute;
  right: 140px;
  top: -100px;
  animation-delay: 2s, 2s;
  z-index: 7;
  filter: blur(0.5px);
}

@keyframes fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(50px);
  }
  100% {
    transform: translatex(0);
  }
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #rgba(0, 0, 0, 0.1);
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  color: #fafafa;
  z-index: 8;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
  font-size: 1.5rem;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
  font-size: 1rem;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
  }
